In [24]:
# Import our dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import sklearn as skl
import tensorflow as tf
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

In [2]:
original_loan_df = pd.read_csv("loan_dataset.csv")

original_loan_df.describe()

,Applicant_ID,Age,Dependents,Annual_Income,Monthly_Expenses,Credit_Score,Existing_Loans,Total_Existing_Loan_Amount,Outstanding_Debt,Loan_History,Loan_Amount_Requested,Loan_Term,Interest_Rate,Bank_Account_History,Transaction_Frequency,Default_Risk,Loan_Approval_Status
count,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000,52000.000000
mean,26000.500000,38.898385,1.498000,83588.474404,2748.064885,678.089019,0.997865,24939.087962,14984.864923,0.198596,21102.765481,125.827019,9.253494,4.503923,17.031808,0.500204,0.641654
std,15011.251336,10.553928,1.118077,35720.851522,1295.678763,159.990367,0.815586,14407.886552,8663.404305,0.398947,8224.940906,65.509959,3.318356,2.872721,7.212011,0.289939,0.479519
min,1.000000,18.000000,0.000000,20009.000000,500.000000,300.000000,0.000000,0.000000,0.000000,0.000000,5000.000000,12.000000,3.500000,0.000000,5.000000,0.000000,0.000000
25%,13000.750000,31.000000,0.000000,55564.000000,1636.000000,553.000000,0.000000,12498.000000,7511.750000,0.000000,16941.750000,69.000000,6.400000,2.000000,11.000000,0.250000,0.000000
50%,26000.500000,38.000000,1.000000,78839.000000,2739.000000,742.000000,1.000000,24964.000000,14984.500000,0.000000,21039.000000,126.000000,9.240000,5.000000,17.000000,0.500000,1.000000
75%,39000.250000,45.000000,2.000000,114226.000000,3866.000000,796.000000,2.000000,37399.500000,22432.250000,0.000000,25809.000000,182.000000,12.140000,7.000000,23.000000,0.750000,1.000000
max,52000.000000,69.000000,3.000000,149998.000000,4999.000000,849.000000,2.000000,49999.000000,29998.000000,1.000000,44848.000000,239.000000,15.000000,9.000000,29.000000,1.000000,1.000000

In [3]:
original_loan_df.head(10)

,Applicant_ID,Gender,Age,Marital_Status,Dependents,Education,Employment_Status,Occupation_Type,Residential_Status,City/Town,...,Loan_Amount_Requested,Loan_Term,Loan_Purpose,Interest_Rate,Loan_Type,Co-Applicant,Bank_Account_History,Transaction_Frequency,Default_Risk,Loan_Approval_Status
0,1,Female,25,Married,2,Graduate,Employed,Business,Own,Urban,...,24535,209,Home,4.27,Secured,Yes,8,20,0.81,1
1,2,Male,36,Married,2,High School,Employed,Business,Own,Suburban,...,8288,33,Home,14.78,Unsecured,Yes,9,9,0.17,0
2,3,Male,43,Single,0,Postgraduate,Self-Employed,Freelancer,Own,Urban,...,10308,159,Vehicle,12.33,Secured,Yes,7,27,0.25,0
3,4,Female,28,Married,0,High School,Self-Employed,Freelancer,Rent,Suburban,...,33937,39,Personal,8.77,Secured,No,9,16,0.27,1
4,5,Female,32,Single,0,Graduate,Employed,Salaried,Rent,Suburban,...,23360,34,Home,9.04,Unsecured,No,1,17,0.32,1
5,6,Male,49,Single,2,Postgraduate,Employed,Freelancer,Own,Urban,...,30056,111,Education,4.98,Unsecured,Yes,4,14,0.99,1
6,7,Female,41,Married,0,High School,Employed,Salaried,Own,Rural,...,34707,192,Personal,7.35,Unsecured,Yes,2,13,0.56,1
7,8,Female,52,Single,2,Postgraduate,Employed,Business,Own,Urban,...,10583,81,Vehicle,13.49,Unsecured,No,4,21,0.45,0
8,9,Male,27,Single,1,Graduate,Self-Employed,Freelancer,Rent,Urban,...,20239,101,Home,13.53,Secured,Yes,4,18,0.54,0
9,10,Male,61,Single,3,Postgraduate,Employed,Freelancer,Own,Urban,...,15084,164,Personal,14.07,Secured,No,4,19,0.22,1

In [4]:
unique_values = original_loan_df.dtypes.index.tolist()
original_loan_df[unique_values].nunique()

Applicant_ID                  52000
Gender                            2
Age                              52
Marital_Status                    3
Dependents                        4
Education                         3
Employment_Status                 3
Occupation_Type                   4
Residential_Status                3
City/Town                         3
Annual_Income                 42408
Monthly_Expenses               4500
Credit_Score                    450
Existing_Loans                    3
Total_Existing_Loan_Amount    32440
Outstanding_Debt              24717
Loan_History                      2
Loan_Amount_Requested         22433
Loan_Term                       228
Loan_Purpose                      4
Interest_Rate                  1151
Loan_Type                         2
Co-Applicant                      2
Bank_Account_History             10
Transaction_Frequency            25
Default_Risk                    101
Loan_Approval_Status              2
dtype: int64

In [5]:
# Place 'Age' into bins

In [6]:
# Place 'Annual_Income' into bins

In [7]:
# Place 'Monthly_Expenses' into bins

In [8]:
# Place 'Credit_Score' into bins

In [9]:
# Place 'Total_Existing_Loan_Amount' into bins

In [10]:
# Place 'Outstanding_Debt' into bins

In [11]:
# Place 'Loan_Amount_Requested' into bins

In [12]:
# Place 'Loan_Term' into bins

In [13]:
# Place 'Interest_Rate' into bins

In [14]:
# Place 'Bank_Account_History' into bins

In [15]:
# Place 'Transaction_Frequency' into bins

In [16]:
# Place 'Default_Risk' into bins

In [17]:
# Drop Applicant_ID column
index_loan_df = original_loan_df.drop(columns = ["Applicant_ID"])

# Convert categorical data to numeric with `pd.get_dummies`
original_loan_df_columns = index_loan_df.columns.to_list()
original_loan_df_columns.remove('Loan_Approval_Status')
original_loan_df_columns.remove('Age')
original_loan_df_columns.remove('Annual_Income')
original_loan_df_columns.remove('Monthly_Expenses')
original_loan_df_columns.remove('Credit_Score')
original_loan_df_columns.remove('Total_Existing_Loan_Amount')
original_loan_df_columns.remove('Outstanding_Debt')
original_loan_df_columns.remove('Loan_Amount_Requested')
original_loan_df_columns.remove('Loan_Term')
original_loan_df_columns.remove('Interest_Rate')
original_loan_df_columns.remove('Bank_Account_History')
original_loan_df_columns.remove('Transaction_Frequency')
original_loan_df_columns.remove('Default_Risk')

print(original_loan_df_columns)

['Gender', 'Marital_Status', 'Dependents', 'Education', 'Employment_Status', 'Occupation_Type', 'Residential_Status', 'City/Town', 'Existing_Loans', 'Loan_History', 'Loan_Purpose', 'Loan_Type', 'Co-Applicant']

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
df_encoded = pd.get_dummies(index_loan_df, columns = original_loan_df_columns)

# Convert True = 1 and False = 0
df_encoded = df_encoded.astype(int)

# Ability to scroll horizontally to view all columns of the dataframe
pd.options.display.max_columns=51

df_encoded

,Age,Annual_Income,Monthly_Expenses,Credit_Score,Total_Existing_Loan_Amount,Outstanding_Debt,Loan_Amount_Requested,Loan_Term,Interest_Rate,Bank_Account_History,Transaction_Frequency,Default_Risk,Loan_Approval_Status,Gender_Female,Gender_Male,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Dependents_0,Dependents_1,Dependents_2,Dependents_3,Education_Graduate,Education_High School,Education_Postgraduate,Employment_Status_Employed,Employment_Status_Self-Employed,Employment_Status_Unemployed,Occupation_Type_Business,Occupation_Type_Freelancer,Occupation_Type_Professional,Occupation_Type_Salaried,Residential_Status_Other,Residential_Status_Own,Residential_Status_Rent,City/Town_Rural,City/Town_Suburban,City/Town_Urban,Existing_Loans_0,Existing_Loans_1,Existing_Loans_2,Loan_History_0,Loan_History_1,Loan_Purpose_Education,Loan_Purpose_Home,Loan_Purpose_Personal,Loan_Purpose_Vehicle,Loan_Type_Secured,Loan_Type_Unsecured,Co-Applicant_No,Co-Applicant_Yes
0,25,139901,2533,743,10942,19822,24535,209,4,8,20,0,1,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1
1,36,21162,4041,468,48731,18321,8288,33,14,9,9,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,1,0,0,1,0,0,0,1,0,1
2,43,27815,3453,389,6925,13851,10308,159,12,7,27,0,0,0,1,0,0,1,1,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,1,1,0,0,0,0,1,1,0,0,1
3,28,137853,2732,778,42016,28608,33937,39,8,9,16,0,1,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0,1,0
4,32,81753,1648,752,31747,8780,23360,34,9,1,17,0,1,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,1,0,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51995,47,56085,1794,381,3338,11909,15723,60,12,2,26,0,1,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1,0,0,1
51996,25,79062,1371,726,23659,24696,21209,237,5,8,26,0,1,0,1,0,1,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,1,0,1,1,0
51997,48,57471,3442,396,4389,12367,10540,60,10,8,24,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,1,0,0,1,1,0,1,0,0,0,0,1,1,0
51998,48,49495,2874,362,25518,13240,16765,32,8,3,12,0,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,0,1,1,0,0,1
51999,38,90371,4152,803,5050,11009,20454,93,11,3,25,0,1,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,1,0,0,0,0,1,0,1

In [19]:
# Split our preprocessed data into our features and target arrays
y = df_encoded.Loan_Approval_Status.values
X = df_encoded.drop(columns="Loan_Approval_Status").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [20]:
# Perform Logistic Regression as first test
classifier = LogisticRegression(solver='lbfgs', random_state=1)

# Train the data
classifier.fit(X_train, y_train)

# Score the model
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7819230769230769
Testing Data Score: 0.7803846153846153

c:\Users\avery\anaconda3\envs\dev_ave\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
# Forest Trees as second test

# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=1)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         3277         1381
Actual 1          612         7730

Accuracy Score : 0.8466923076923077
Classification Report
              precision    recall  f1-score   support

           0       0.84      0.70      0.77      4658
           1       0.85      0.93      0.89      8342

    accuracy                           0.85     13000
   macro avg       0.85      0.82      0.83     13000
weighted avg       0.85      0.85      0.84     13000

In [ ]:
# Calculate feature importance
importances = rf_model.feature_importances_
# Sort the features by their importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.23811663320556076,
  array([    28, 137853,   2732,    778,  42016,  28608,  33937,     39,
              8,      9,     16,      0,      1,      0,      0,      1,
              0,      1,      0,      0,      0,      0,      1,      0,
              0,      1,      0,      0,      1,      0,      0,      0,
              0,      1,      0,      1,      0,      1,      0,      0,
              0,      1,      0,      0,      1,      0,      1,      0,
              1,      0])),
 (0.17434969965429942,
  array([    41, 123266,   1118,    707,  15843,  28872,  34707,    192,
              7,      2,     13,      0,      1,      0,      0,      1,
              0,      1,      0,      0,      0,      0,      1,      0,
              1,      0,      0,      0,      0,      0,      1,      0,
              1,      0,      1,      0,      0,      1,      0,      0,
              1,      0,      0,      0,      1,      0,      0,      1,
              0,      1])),
 (0.11040197340537906,
  array([   36, 21162,  4041,   468, 48731, 18321,  8288,    33,    14,
             9,     9,     0,     0,     1,     0,     1,     0,     0,
             0,     1,     0,     0,     1,     0,     1,     0,     0,
             1,     0,     0,     0,     0,     1,     0,     0,     1,
             0,     0,     1,     0,     1,     0,     0,     1,     0,
             0,     0,     1,     0,     1])),
 (0.06554898014883237,
  array([    25, 139901,   2533,    743,  10942,  19822,  24535,    209,
              4,      8,     20,      0,      1,      0,      0,      1,
              0,      0,      0,      1,      0,      1,      0,      0,
              1,      0,      0,      1,      0,      0,      0,      0,
              1,      0,      0,      0,      1,      1,      0,      0,
              1,      0,      0,      1,      0,      0,      1,      0,
              0,      1])),
 (0.04075092979202609,
  array([   43, 27815,  3453,   389,  6925, 13851, 10308,   159,    12,
             7,    27,     0,     0,     1,     0,     0,     1,     1,
             0,     0,     0,     0,     0,     1,     0,     1,     0,
             0,     1,     0,     0,     0,     1,     0,     0,     0,
             1,     0,     0,     1,     1,     0,     0,     0,     0,
             1,     1,     0,     0,     1])),
 (0.040525616521027465,
  array([   32, 81753,  1648,   752, 31747,  8780, 23360,    34,     9,
             1,    17,     0,     1,     0,     0,     0,     1,     1,
             0,     0,     0,     1,     0,     0,     1,     0,     0,
             0,     0,     0,     1,     0,     0,     1,     0,     1,
             0,     0,     0,     1,     0,     1,     0,     1,     0,
             0,     0,     1,     1,     0])),
 (0.04034216555475573,
  array([    49, 149372,   2976,    793,   2635,   4453,  30056,    111,
              4,      4,     14,      0,      0,      1,      0,      0,
              1,      0,      0,      1,      0,      0,      0,      1,
              1,      0,      0,      0,      1,      0,      0,      0,
              1,      0,      0,      0,      1,      1,      0,      0,
              1,      0,      1,      0,      0,      0,      0,      1,
              0,      1])),
 (0.03767057425457122,
  array([   52, 59889,  4622,   349, 12436, 29440, 10583,    81,    13,
             4,    21,     0,     1,     0,     0,     0,     1,     0,
             0,     1,     0,     0,     0,     1,     1,     0,     0,
             1,     0,     0,     0,     0,     1,     0,     0,     0,
             1,     0,     0,     1,     1,     0,     0,     0,     0,
             1,     0,     1,     1,     0])),
 (0.028920528783921717,
  array([   32, 54670,  4969,   772, 28940, 22104, 20000,   158,     6,
             6,     8,     0,     1,     0,     0,     1,     0,     0,
             0,     0,     1,     0,     0,     1,     0,     1,     0,
             0,     0,     0,     1,     0,     0,     1,     0,     1,
             0,     0,     1,     0,     1,     0,     0,     1,     0,
             0,     0,     1,     1,     0])),
 (0.023613181200810508,
  array([    27, 121626,   2511,    803,   9919,  13940,  20239,    101,
             13,      4,     18,      0,      0,      1,      0,      0,
              1,      0,      1,      0,      0,      1,      0,      0,
              0,      1,      0,      0,      1,      0,      0,      0,
              0,      1,      0,      0,      1,      1,      0,      0,
              1,      0,      0,      1,      0,      0,      1,      0,
              0,      1])),
 (0.021749282203725483,
  array([   61, 38330,  4523,   599,  4325, 19381, 15084,   164,    14,
             4,    19,     0,     0,     1,     0,     0,     1,     0,
             0,     0,     1,     0,     0,     1,     1,     0,     0,
             0,     1,     0,     0,     0,     1,     0,     0,     0,
             1,     0,     0,     1,     1,     0,     0,     0,     1,
             0,     1,     0,     1,     0])),
 (0.005363891551555191,
  array([   59, 67367,  1815,   418, 40511, 27294, 13580,   156,     8,
             6,     8,     0,     1,     0,     0,     1,     0,     0,
             1,     0,     0,     1,     0,     0,     0,     1,     0,
             0,     1,     0,     0,     0,     1,     0,     0,     0,
             1,     0,     1,     0,     1,     0,     0,     1,     0,
             0,     1,     0,     1,     0])),
 (0.005273870462845137,
  array([   36, 76130,  3789,   808, 19161, 10197, 22559,   119,    12,
             4,    24,     0,     1,     0,     0,     1,     0,     1,
             0,     0,     0,     0,     1,     0,     0,     0,     1,
             0,     0,     0,     1,     0,     1,     0,     0,     1,
             0,     1,     0,     0,     1,     0,     0,     1,     0,
             0,     0,     1,     0,     1])),
 (0.005224450646956732,
  array([   29, 59576,  1966,   748,  2901, 16499, 20000,   111,     8,
             3,     8,     0,     1,     0,     0,     1,     0,     0,
             0,     1,     0,     0,     0,     1,     1,     0,     0,
             0,     1,     0,     0,     0,     1,     0,     0,     1,
             0,     0,     0,     1,     1,     0,     1,     0,     0,
             0,     0,     1,     1,     0])),
 (0.00516415328468274,
  array([    33, 112335,   2636,    815,  19895,  24735,  20804,     39,
             12,      3,     11,      0,      1,      0,      0,      0,
              1,      1,      0,      0,      0,      1,      0,      0,
              1,      0,      0,      0,      0,      1,      0,      0,
              0,      1,      0,      0,      1,      0,      0,      1,
              1,      0,      0,      0,      1,      0,      1,      0,
              1,      0])),
 (0.005090242190166942,
  array([   38, 56434,  4714,   760, 44072, 14797, 20000,    47,    10,
             9,    28,     0,     1,     0,     0,     1,     0,     0,
             1,     0,     0,     0,     1,     0,     0,     0,     1,
             1,     0,     0,     0,     0,     1,     0,     0,     0,
             1,     0,     1,     0,     1,     0,     0,     1,     0,
             0,     1,     0,     0,     1])),
 (0.005089660378458336,
  array([    37, 126106,   3076,    826,  46817,  24028,  36921,     83,
             10,      5,     14,      0,      1,      0,      0,      0,
              1,      0,      0,      1,      0,      0,      1,      0,
              1,      0,      0,      0,      0,      0,      1,      0,
              1,      0,      0,      0,      1,      1,      0,      0,
              1,      0,      0,      0,      0,      1,      0,      1,
              1,      0])),
 (0.005084092532777463,
  array([    43, 122278,   4560,    828,  20248,   5386,  20342,    197,
             13,      1,     22,      0,      1,      0,      0,      1,
              0,      0,      1,      0,      0,      1,      0,      0,
              0,      1,      0,      0,      0,      0,      1,      0,
              1,      0,      0,      0,      1,      1,      0,      0,
              1,      0,      0,      0,      0,      1,      1,      0,
              1,      0])),
 (0.0050732097741360465,
  array([    41, 138057,   4469,    726,  49996,   8323,  31869,     74,
              7,      2,     27,      0,      0,      1,      0,      1,
              0,      1,      0,      0,      0,      0,      1,      0,
              0,      1,      0,      1,      0,      0,      0,      0,
              1,      0,      1,      0,      0,      0,      1,      0,
              1,      0,      0,      1,      0,      0,      1,      0,
              1,      0])),
 (0.0050614317575136784,
  array([    39, 140024,   3496,    825,  30144,  21141,  34924,     87,
              7,      7,     28,      0,      1,      0,      0,      0,
              1,      1,      0,      0,      0,      0,      1,      0,
              1,      0,      0,      0,      1,      0,      0,      0,
              1,      0,      0,      0,      1,      0,      1,      0,
              0,      1,      0,      1,      0,      0,      0,      1,
              0,      1])),
 (0.005046883600100066,
  array([   46, 52600,  2669,   794, 32961, 28914, 20000,    81,     3,
             6,    17,     0,     0,     1,     0,     1,     0,     0,
             0,     0,     1,     1,     0,     0,     0,     1,     0,
             1,     0,     0,     0,     0,     1,     0,     0,     1,
             0,     0,     1,     0,     1,     0,     1,     0,     0,
             0,     1,     0,     1,     0])),
 (0.005046181896753496,
  array([   54, 39362,  2534,   332, 40843,  9411, 13170,   203,     5,
             9,     5,     0,     0,     1,     0,     1,     0,     0,
             0,     0,     1,     1,     0,     0,     1,     0,     0,
             1,     0,     0,     0,     0,     1,     0,     0,     1,
             0,     0,     0,     1,     1,     0,     1,     0,     0,
             0,     1,     0,     0,     1])),
 (0.005013994686379824,
  array([    46, 141776,   2887,    745,  16401,  28232,  25115,    175,
             13,      9,     14,      0,      1,      0,      0,      0,
              1,      1,      0,      0,      0,      0,      0,      1,
              0,      1,      0,      0,      0,      0,      1,      0,
              0,      1,      0,      0,      1,      0,      1,      0,
              0,      1,      0,      1,      0,      0,      0,      1,
              1,      0])),
 (0.005002800997175206,
  array([   37, 88355,  3157,   752, 39101, 26645, 23097,   229,    14,
             8,    28,     0,     0,     1,     0,     1,     0,     0,
             0,     0,     1,     0,     0,     1,     0,     1,     0,
             0,     0,     0,     1,     0,     1,     0,     0,     1,
             0,     1,     0,     0,     1,     0,     1,     0,     0,
             0,     0,     1,     0,     1])),
 (0.0049488751378380475,
  array([    39, 114706,   3895,    789,  27122,   1043,  31437,    234,
              5,      3,     27,      0,      0,      1,      0,      0,
              1,      0,      0,      1,      0,      0,      0,      1,
              0,      1,      0,      0,      0,      0,      1,      0,
              0,      1,      0,      0,      1,      1,      0,      0,
              1,      0,      1,      0,      0,      0,      0,      1,
              0,      1])),
 (0.0049116891460796635,
  array([   62, 25512,  3437,   444, 49345,  1466,  5605,    44,     8,
             8,    14,     0,     0,     1,     0,     0,     1,     0,
             0,     0,     1,     0,     0,     1,     1,     0,     0,
             0,     1,     0,     0,     0,     1,     0,     0,     1,
             0,     0,     1,     0,     0,     1,     0,     1,     0,
             0,     0,     1,     0,     1])),
 (0.00483092618501716,
  array([   49, 64215,   549,   782, 20182, 19492, 20000,    81,     4,
             2,    18,     0,     0,     1,     1,     0,     0,     0,
             1,     0,     0,     1,     0,     0,     1,     0,     0,
             1,     0,     0,     0,     0,     1,     0,     0,     0,
             1,     0,     1,     0,     1,     0,     0,     1,     0,
             0,     0,     1,     0,     1])),
 (0.004820019184072526,
  array([   30, 73388,  1024,   821, 39869, 21641, 20347,   157,     8,
             0,    25,     0,     0,     1,     0,     0,     1,     1,
             0,     0,     0,     0,     1,     0,     1,     0,     0,
             0,     0,     0,     1,     1,     0,     0,     0,     0,
             1,     1,     0,     0,     1,     0,     1,     0,     0,
             0,     1,     0,     1,     0])),
 (0.004816484777554319,
  array([   47, 60103,  1176,   847, 35354,   788, 20000,    41,    11,
             5,    17,     0,     0,     1,     0,     0,     1,     0,
             0,     0,     1,     0,     1,     0,     0,     1,     0,
             0,     0,     0,     1,     0,     1,     0,     0,     0,
             1,     1,     0,     0,     1,     0,     0,     0,     1,
             0,     0,     1,     1,     0])),
 (0.004800187276982684,
  array([    47, 136354,   3703,    806,  26560,   6546,  20651,     70,
             12,      3,      6,      0,      1,      0,      0,      1,
              0,      0,      0,      1,      0,      1,      0,      0,
              1,      0,      0,      0,      0,      0,      1,      0,
              1,      0,      0,      1,      0,      0,      1,      0,
              1,      0,      0,      1,      0,      0,      0,      1,
              0,      1])),
 (0.004774979655210469,
  array([   28, 67933,  1594,   742, 23309, 13179, 20249,    45,    13,
             8,     9,     0,     0,     1,     1,     0,     0,     0,
             0,     1,     0,     0,     1,     0,     1,     0,     0,
             0,     0,     0,     1,     0,     0,     1,     0,     0,
             1,     1,     0,     0,     0,     1,     0,     0,     1,
             0,     1,     0,     1,     0])),
 (0.004772069571469321,
  array([   26, 99270,  3883,   712, 14504, 13508, 26828,   192,     6,
             6,     9,     0,     1,     0,     0,     0,     1,     0,
             1,     0,     0,     1,     0,     0,     1,     0,     0,
             0,     1,     0,     0,     0,     0,     1,     0,     0,
             1,     1,     0,     0,     1,     0,     0,     0,     1,
             0,     1,     0,     1,     0])),
 (0.0047643347713933375,
  array([   40, 73963,  4692,   741, 34053,  3495, 20696,    41,     6,
             8,    16,     0,     0,     1,     0,     0,     1,     1,
             0,     0,     0,     0,     0,     1,     1,     0,     0,
             0,     0,     1,     0,     0,     1,     0,     0,     0,
             1,     0,     1,     0,     1,     0,     0,     1,     0,
             0,     0,     1,     1,     0])),
 (0.004731052463324001,
  array([   53, 66047,   849,   482, 42842, 16363, 24795,   124,     3,
             9,    26,     0,     1,     0,     0,     1,     0,     1,
             0,     0,     0,     1,     0,     0,     0,     1,     0,
             0,     1,     0,     0,     0,     1,     0,     0,     1,
             0,     1,     0,     0,     1,     0,     1,     0,     0,
             0,     1,     0,     0,     1])),
 (0.004695407328427466,
  array([    36, 127788,   4444,    784,  41825,   1942,  35810,    100,
             10,      5,     28,      0,      1,      0,      0,      0,
              1,      0,      1,      0,      0,      0,      1,      0,
              0,      1,      0,      1,      0,      0,      0,      0,
              0,      1,      0,      0,      1,      1,      0,      0,
              1,      0,      0,      1,      0,      0,      0,      1,
              0,      1])),
 (0.004671508602732091,
  array([   25, 76173,  1323,   752,  3851, 29337, 21185,   122,     9,
             6,    25,     0,     0,     1,     0,     1,     0,     0,
             1,     0,     0,     1,     0,     0,     1,     0,     0,
             0,     0,     0,     1,     0,     0,     1,     1,     0,
             0,     0,     0,     1,     1,     0,     1,     0,     0,
             0,     0,     1,     1,     0])),
 (0.004633941076701548,
  array([   59, 42620,  4689,   391, 27323, 20923, 14659,   196,     5,
             7,    20,     0,     1,     0,     0,     1,     0,     1,
             0,     0,     0,     1,     0,     0,     1,     0,     0,
             0,     1,     0,     0,     1,     0,     0,     0,     0,
             1,     0,     1,     0,     1,     0,     0,     1,     0,
             0,     0,     1,     1,     0])),
 (0.004613475238936459,
  array([   34, 98808,  2975,   843,  9826, 19231, 22547,    51,     8,
             1,    29,     0,     1,     0,     0,     1,     0,     0,
             0,     1,     0,     0,     0,     1,     1,     0,     0,
             0,     1,     0,     0,     0,     0,     1,     0,     1,
             0,     1,     0,     0,     1,     0,     0,     1,     0,
             0,     1,     0,     0,     1])),
 (0.004562178676827353,
  array([    29, 122670,   3948,    723,  47607,  19881,  24781,    143,
             10,      3,      9,      0,      0,      1,      0,      1,
              0,      0,      1,      0,      0,      0,      1,      0,
              0,      1,      0,      0,      0,      1,      0,      0,
              1,      0,      0,      1,      0,      1,      0,      0,
              1,      0,      0,      0,      0,      1,      0,      1,
              1,      0])),
 (0.00442443479632821,
  array([    41, 116852,   3954,    741,  38210,  17280,  23742,    149,
              4,      7,     28,      0,      0,      1,      0,      1,
              0,      0,      0,      0,      1,      1,      0,      0,
              0,      1,      0,      1,      0,      0,      0,      0,
              0,      1,      1,      0,      0,      0,      1,      0,
              1,      0,      0,      1,      0,      0,      0,      1,
              0,      1])),
 (0.004362258864994098,
  array([    46, 104806,   4972,    839,  47381,   1269,  23447,     42,
              5,      7,      8,      0,      1,      0,      1,      0,
              0,      0,      1,      0,      0,      0,      0,      1,
              0,      1,      0,      1,      0,      0,      0,      0,
              1,      0,      0,      0,      1,      0,      0,      1,
              0,      1,      0,      1,      0,      0,      0,      1,
              1,      0])),
 (0.00433089835553887,
  array([    34, 134031,   3080,    812,  20736,  28911,  36100,     85,
             11,      6,     12,      0,      1,      0,      0,      1,
              0,      0,      1,      0,      0,      1,      0,      0,
              0,      1,      0,      0,      1,      0,      0,      0,
              0,      1,      0,      1,      0,      1,      0,      0,
              0,      1,      0,      0,      1,      0,      0,      1,
              1,      0])),
 (0.004295161674756412,
  array([   48, 75902,  4412,   808, 38696,  4475, 21091,   133,    14,
             0,    22,     0,     1,     0,     0,     1,     0,     0,
             1,     0,     0,     0,     1,     0,     0,     1,     0,
             0,     1,     0,     0,     0,     1,     0,     0,     0,
             1,     0,     0,     1,     1,     0,     0,     1,     0,
             0,     0,     1,     1,     0])),
 (0.004290412113364296,
  array([   30, 83447,  3687,   794,  2841, 19771, 21241,   161,     5,
             7,    23,     0,     1,     0,     0,     1,     0,     0,
             0,     0,     1,     1,     0,     0,     1,     0,     0,
             1,     0,     0,     0,     0,     1,     0,     0,     0,
             1,     0,     0,     1,     1,     0,     1,     0,     0,

In [27]:
# Visualize the features by importance
importances_df = pd.DataFrame(sorted(zip(rf_model.feature_importances_, X.columns), reverse=True))
importances_df.set_index(importances_df[1], inplace=True)
importances_df.drop(columns=1, inplace=True)
importances_df.rename(columns={0: 'Feature Importances'}, inplace=True)
importances_sorted = importances_df.sort_values(by='Feature Importances')
importances_sorted.plot(kind='barh', color='lightgreen', title= 'Features Importances', legend=False)

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [ ]:
# Create Neural Networks as third test

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation="relu", input_dim=50))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation="relu"))
# Third Hidden Layer
nn.add(tf.keras.layers.Dense(units=32, activation='tanh'))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Create a DataFrame containing training history
history_df = pd.DataFrame(fit_model.history)

# Increase the index by 1 to match the number of epochs
history_df.index += 1

# Plot the loss
history_df.plot(y="loss")
plt.show()

In [ ]:
history_df.plot(y="accuracy")
plt.show()